<h1>Listing Articles</h1>
<%= link_to 'New article', new_article_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      
     <td> <%= article.likes.count %> </td>
        <% previous_like = article.likes.find { |like| like.user_id == current_user.id} %>
    <%if previous_like %>
      <td><%= button_to 'Unlike', article_like_path(article, previous_like), method: :delete%></td>
      <% else %>
      <td><%= button_to 'Like', article_likes_path(article), method: :article%></td>
    <% end %>


    </tr>
  <% end %>
</table>

<%= link_to 'All Articles', all_articles_path(@article) %> |
